.background_container {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 420px;
  z-index: -1;

  .background {
    width: 100%;
  }

  .header {
    height: 960px;
    background: url("/assets/ui/background/background_header.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .center {
    height: 675px;
    background-color: black;
  }

  .footer {
    height: 865px;
    background: url("/assets/ui/background/background_footer.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 1240px) {
    .footer {
      height: 1200px;
    }
  }

  @media screen and (max-width: 960px) {
    .footer {
      height: 1400px;
    }
  }

  @media screen and (max-width: 520px) {
    .footer {
      height: 1675px;
    }
  }
}
