.book_table {
  width: 25%;
  height: 310px;
  float: left;

  .book_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;

    .overlay_title {
      width: 100%;
      height: 16px;
      color: $colorOne;
      font-family: $fontOne;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      font-size: 16px;
      position: relative;
      top: 25%;
      user-select: none;
    }

    .overlay_image {
      width: 25%;
      height: 25%;
      background-image: url("/assets/ui/book_arrows.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 0 auto;
      position: relative;
      top: 30%;
    }

    .overlay_message {
      width: 100%;
      height: 16px;
      font-family: $fontTwo;
      font-size: 17px;
      position: relative;
      top: 35%;
      color: $colorOne;
      text-align: center;
      font-style: italic;
      user-select: none;
    }
  }

  .book_overlay:hover {
    opacity: 1;
  }
}

.restaurant_one {
  background-image: url("/assets/ui/restaurant_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.restaurant_two {
  background-image: url("/assets/ui/restaurant_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.restaurant_three {
  background-image: url("/assets/ui/restaurant_three.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.restaurant_four {
  background-image: url("/assets/ui/restaurant_four.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1240px) {
  .book_table {
    height: 25vw;
  }
}

@media screen and (max-width: 960px) {
  .book_table {
    width: 50%;
    height: 25vw;
  }
}

@media screen and (max-width: 420px) {
  .book_table {
    width: 50%;
    height: 105px;

    .book_overlay{
      .overlay_title {
        top: 15%;
      }

      .overlay_image {
        top: 25%;
      }

      .overlay_message {
        top: 30%;
      }
    }
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
  .book_table {
    width: 100%;
    height: 25em;
    
    .book_overlay {
      .overlay_title {
        width: 100%;
        height: 1em;
        font-size: 3em;
        top: 12%;
      }

      .overlay_image {
        width: 10em;
        height: 10em;
        top: 20%;
      }

      .overlay_message {
        height: 1em;
        font-size: 3em;
        top: 25%;
      }
    }
  }
}
