.compact_menu {
  position: relative;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;

  .compact_top {
    background-color: $colorOne;
    width: 100%;
    height: 4px;
  }

  .compact_middle {
    background-color: $colorOne;
    width: 100%;
    height: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-150%);
  }

  .compact_bottom {
    background-color: $colorOne;
    width: 100%;
    height: 4px;
    position: relative;
    top: 60%;
  }
}

@media screen and (max-width: 760px) {
  .compact_menu {
    display: block;
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
  .compact_menu {
    display: block;
    top: 1.5em;
    width: 3em;
  }
}
