body {
  background-color: black;
}

.content_container {
  width: 1240px;
  margin: 0 auto;
  height: auto;
  min-width: 420px;

  .header_logo {
    background-image: url("/assets/ui/pbt_logo.png");
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    margin-top: 155px;
    background-size: cover;
  }

  .nav_container {
    width: 100%;
    height: 62px;
    margin-top: 65px;
  }

  .social_container {
    height: 40px;
    width: 190px;
    margin: 0 auto;
    margin-top: 57px;
  }

  .welcome_container {
    width: 100%;
    background-color: $colorOne;
    margin-top: 128px;
    // height: 315px;
  }

  .booking_container {
    width: 100%;
    height: 310px;
  }

  .slider_container {
    width: 100%;
    height: 490px;
    background-image: url("/assets/ui/gallery_one.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .footer_container {
    width: 100%;
    overflow: hidden;
  }

  .footer_info_container {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1240px) {
  .content_container {
    width: 100%;
  }

  .booking_container {
    height: 25vw !important;
  }
}

@media screen and (max-width: 960px) {
  .booking_container {
    height: 50vw !important;
  }
}

@media screen and (max-width: 420px) {
  .booking_container {
    height: 210px !important;
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
      .header_logo {
        width: 35em !important;
        height: 35em !important;
      }


      .nav_container {
        height: 5em;
      }

      .social_container {
        height: 7em !important;
        width: 40em !important;
      }

      .welcome_container {
        margin-top: 3em !important;
      }

      .slider_container {
        height: 50em !important;
      }

      .background_container {
        .header {
          height: 70em !important;
        }

        .center {
          height: 185em !important;
        }

        .footer {
          height: 152em !important;
        }
      }

      .booking_container {
        width: 100%;
        height: 100em !important;
      }
}
