.partition {
  width: 32.25%;
  height: 100%;
  float: left;

  .partition_title {
    font-family: $fontOne;
    font-weight: bold;
    color: $colorOne;
    width: 100%;
    height: 14px;
    margin-top: 52px;
    text-align: center;
    text-transform: uppercase;
  }

  .line_divider {
    width: 100%;
    height: 1px;
    background-color: $colorOne;
    margin-top: 16px;
  }

  .social_handle {
    font-family: $fontTwo;
    font-size: 16px;
    font-style: italic;
    color: $colorOne;
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
  }

  .partition_button {
    width: 188px;
    height: 16px;
    border: $colorOne solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: $fontOne;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;


    &.--following {
      // Visual Change for Following here
    }
  }

  .newsletter {
    width: 70%;
    height: auto;
    color: $colorOne;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 50px;
    text-align: center;
    font-family: $fontTwo;
    font-size: 16px;
    font-style: italic;
  }

  .twitter_feed {
    width: 70%;
    height: auto;
    font-family: $fontTwo;
    font-size: 14px;
    color: $colorOne;
    text-align: left;
    margin: 0 auto;
    font-style: italic;
    margin-top: 25px;
  }

  .twitter_timestamp {
    width: 75px;
    height: auto;
    color: $colorOne;
    font-family: $fontTwo;
    font-size: 14px;
    font-style: italic;
    float: right;
    margin-right: 10%
  }

  .instagram_feed {
    width: 48%;
    height: 190px;
    margin-top: 25px;
  }

  .insta_img_one {
    float: left;
    background-image: url("/assets/ui/instagram_feed_one.png");
    background-size: cover;
  }

  .insta_img_two {
    float: right;
    background-image: url("/assets/ui/instagram_feed_two.png");
    background-size: cover;
  }

  .signup_details {
    width: 70%;
    height: 33px;
    border: $colorOne solid 1px;
    margin: 0 auto;
    margin-top: 15px;

    .details_label {
      font-family: $fontTwo;
      font-style: italic;
      color: white;
      width: 27%; // 75px
      float: left;
      margin-left: 7%; //18px
      margin-top: 8px;
      border-right: $colorOne solid 2px;
    }

    .details_input {
      float: right;
      outline: none;
      background-color: rgba(0,0,0,0);
      width: 50%;
      border: 0px;
      font-family: $fontTwo;
      font-style: italic;
      color: $colorOne;
      margin-top: 7px;
      margin-right: 7%;
    }

    .birth_date {
      background-color: rgba(0,0,0,0);
      outline: none;
      border: 0xp;
      color: $colorOne;
      font-family: $fontTwo;
      font-style: italic;
      margin-top: 5px;
      width: 24%;
      margin-left: 7%;

      .select_date {
        color: black;
      }
    }

    .birth_date--day {
      float: left;
    }
  }

  @media screen and (max-width: 1240px) {
    .newsletter {
      padding-bottom: 0px;
    }
  }
}

.bottom--only {
  margin-bottom: 15px !important;
}

.left--only {
  margin-left: 0px;
  margin-right: 10px;
}

.center--only {
  margin-left: 10px;
  margin-right: 10px;
}

.right--only {
  margin-right: 0px;
  margin-left: 10px;
}

@media screen and (max-width: 1240px) {
  .left--only {
    width: 48%;
  }

  .center--only {
    margin-right: 0px;
    width: 48%;
    float: right;
  }

  .right--only {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .left--only {
    width: 100%;
  }

  .center--only {
    width: 100%;
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
  .partition {
    width: 100%;

    .partition_title {
      font-size: 3em;
    }

    .line_divider {
      margin-top: 3em;
    }

    .social_handle {
      font-size: 3em;
    }

    .partition_button {
      width: 10em;
      height: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 3em;
    }

    .twitter_feed {
      font-size: 3em;
    }

    .twitter_timestamp {
      width: 5em;
      font-size: 3em;
    }

    .instagram_feed {
      height: 25em;
    }

    .newsletter {
      font-size: 3em;
    }

    .signup_details {
      height: 5em;

      .details_label {
        font-size: 3em;
      }

      .details_input {
        font-size: 3em;
      }

      .birth_date {
        font-size: 3em;
      }
    }
  }
}
