.footer_divider {
  width: 100%;
  height: 2px;
  border-top: $colorOne 1px solid;
  border-bottom: $colorOne 1px solid;
}

.info_list {
  width: 90%;
  margin: 0 auto;

  .info_address {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .info_details {
      float: left;
      color: $colorOne;
      font-family: $fontOne;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      padding-left: 22px;
      padding-right: 22px;
      border-right: $colorOne solid 1px;
      border-left: $colorOne solid 1px;
      margin-top: 35px;
      text-align: center;
      user-select: none;

      .info_social {
        width: 14px;
        height: 14px;
        float: left;
        cursor: pointer;
      }

      .--facebook {
        background: url("/assets/ui/facebook_link_s.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .--twitter {
        background: url("/assets/ui/twitter_link_s.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 20px;
        margin-right: 20px
      }

      .--instagram {
        background: url("/assets/ui/instagram_link_s.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .--no_border_left {
      border-left: 0px !important;
    }

    .--no_border-right {
      border-right: 0px !important;
    }
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
  .footer_divider {
    display: none;
  }

  .info_list {
    display: none;
  }
}
