.nav_border {
  width: 100%;
  height: 2px;
  background-color: $colorOne;
}

.nav_menu {
  width: 100%;
  height: 58px;

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .options {
      float: left;
      color: $colorOne;
      font-family: $fontOne;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 53px;
      margin-right: 53px;
      margin-top: 18px;
      width: 100px;
      text-align: center;
      user-select: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1240px) {
  .nav_menu {
    .menu {
      .options {
        margin-left: 4%;
        margin-right: 4%;
        width: 8%;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .nav_menu {
    .menu {
      .options {
        margin-left: 4%;
        margin-right: 4%;
        width: 8%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .nav_menu {
    .menu {
      display: none;
    }
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
  .nav_menu {
    height: 5em;
    
    .menu {
      display: none;
    }
  }
}
