.gallery_nodes {
  width: 140px;
  height: 10px;
  margin: 0 auto;
  position: relative;
  top: 92%;

  .image_node {
    width: 10px;
    height: 10px;
    background-color: $colorOne;
    float: left;
    margin-left: 5px;
    margin-right: 5px;

    &.image_node--active {
      transform: rotate(45deg);
    }
  }
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
  .gallery_nodes {
    width: 21em;
    height: 1em;

    .image_node {
      width: 1em;
      height: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
