.social_link {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.facebook {
  background-image: url("/assets/ui/facebook_link.png");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.twitter {
  background-image: url("/assets/ui/twitter_link.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  left: 35px;
}

.instagram {
  background-image: url("/assets/ui/instagram_link.png");
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
      .social_link {
        width: 7em;
        height: 7em;
        cursor: pointer;
      }

      .twitter {
        left: 9em;
      }
}
