.welcome_title {
  width: 300px;
  font-family: $fontOne;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin: 0 auto;
  padding-top: 77px;
}

.welcome_message {
  width: 50%;
  font-family: $fontTwo;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 76px;
}

@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3) {
      .welcome_title {
        width: 10em;
        font-size: 4em;
      }

      .welcome_message {
        width: 16em;
        font-size: 3em;
      }
}
